.tmp.drivedownload/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.build/
build/classes/servidor/Servidor.class
build/classes/cliente/Cliente.class
build/classes/servidor/Servidor.class
nbproject/private/private.properties
nbproject/private/private.xml
*.class
